<!DOCTYPE html>
  <html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="#TODO">
    <link rel="shortcut icon" href="#TODO" type="image/x-icon">

    <title>ResiliaFlix | Search for a Movie</title>

    <!-- Google Fonts - Roboto 400 e Rubik 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS 5.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- CSS local. -->
    <link rel="stylesheet" href="../../assets/style/main.css">
    <!-- CSS da página vem depois daqui. -->
    <link rel="stylesheet" href="index.css">

    <!-- jQuery 3.6 -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS 5.1 -->
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
      crossorigin="anonymous">
    </script>
    
    <!-- JS local (JS dá página vem depois daqui.). -->
    <script src="index.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bgc-navbar bd-bottom-r10">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="../../">
            <span class="bi bi-film"></span> Resilia<span class="highlight">Flix</span>
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
            <ul class="navbar-nav align-items-md-center mb-2 mb-lg-0 ff-roboto">
              <li class="nav-item">
                <a class="nav-link text-uppercase" aria-current="page" href="../../">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase" href="../../#movies">Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase" href="../about-us/">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-3 clr-primaria" href="../search/" title="Search for movies">
                  <span class="bi bi-search"></span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-3 tira-ml clr-primaria" href="#" id="navbar-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Authentication">
                  <span class="bi bi-person-circle"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end shadow" aria-labelledby="navbar-dropdown">
                  <li>
                    <h6 class="dropdown-header">Authentication</h6>
                  </li>
                  <li>
                    <a class="dropdown-item" href="../login/">Sign in</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="../register/">Sign up</a>
                  </li>
                </ul>
              </li>
            </ul> <!-- .nav-navbar -->
          </div>
        </div> <!-- .container -->
      </nav>
    </header>

    <!-- O código dá página que será desenvolvida vem aqui. -->
    <div id="contSearch">
      <div id="searchCamp">
         <input type="text" id="search"> 
         <button id="btn-search">Search</button>   
      </div>
      
      <div class="container">
        <div id="movies" class="row"></div>
        <p id="erro"></p>
      </div>

      <div class="modal fade" id="modalResults" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="info">
            


          </div>
        </div>
    </div>
    </div>
    <!-- O footer fica grudado no final da página e anda com o conteúdo. -->
    <footer class="mt-auto bd-top-r10 bgc-footer">
      <div class="p-3 text-light">
        <p class="text-center mb-0">
          <a class="logo logo-sm" href="../../">
            <span class="bi bi-film"></span> Resilia<span class="highlight">Flix</span>
          </a>
          <br>
          &copy; 2021 - All rights reserved
        </p>
      </div>
    </footer>
  </body>
</html>
