#textSearched { display: none; }

.movie-info { transition: 300ms cubic-bezier(.16,-0.96,.84,2.11); }
.movie-info:hover { transform: scale(1.04); }

.card-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
}
