#searchCamp {
    margin: 30vh 40vw;
}

#results {
    display: flex;

}

#info {
    background: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}

#movies img, #movie img{
   height: 300px;
    
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height: 300px ;      
    }
  }