.img-cartao {
  height: 18.75rem;
  object-fit: cover;
  cursor: pointer;
  transition: 250ms;
}

.img-cartao:hover { filter: opacity(.7); }

.img-carrosel {
  height: 100vh;
  object-fit: cover;
  object-position: center top;
}

@media (max-width: 62em) {
  .img-carrosel { height: 85vh; }
}

.move-direita > span:nth-child(2) {
  cursor: default;
  transition: 250ms;
}
.move-direita:hover > span:nth-child(2) { padding-left: .625rem; }

.ts-carrossel { text-shadow: 0 .3125em 0 var(--clr-preto-escuro); }
.ts-txt-carrossel { text-shadow: 0 .3em .321em var(--clr-preto-escuro); }

.efeito-link { transition: 250ms; }
.efeito-link:hover,
.efeito-link:focus { opacity: .7; }
