.img-cartao {
  height: 18.75rem;
  object-fit: cover;
  cursor: pointer;
  transition: 250ms;
}

.img-cartao:hover { filter: opacity(.7); }

.cursor-grab { cursor: grab; }

.move-direita > span:nth-child(2) {
  cursor: default;
  transition: 250ms;
}
.move-direita:hover > span:nth-child(2) { padding-left: 10px; }

.move-esquerda > span { transition: 300ms cubic-bezier(.34,-1.24,.66,2.2); }
.move-esquerda:hover > span,
.move-esquerda:focus > span { padding-left: 5px; }

#img-modal { transition: 300ms cubic-bezier(.34,-1.24,.66,2.2); }
#img-modal:hover { transform: scale(1.05); }

.trailer-modal { min-height: 60vh; }
