/*
  Contém alguns estilos para serem usados em todas as páginas, como fontes, cores, etc.
  Para usar, basta colocar o nome da propriedade e usar a função var() junto com o nome da variável, como por exemplo:
    .example {
      color: var(--clr-primaria);
    }
*/

:root {
  /*
    A Roboto será usada para títulos, subtítulos, botões, etc.
    A Rubik será usada para os textos em geral.
  */
  --ff-roboto-400: Roboto, sans-serif;
  --ff-rubik-400: Rubik, sans-serif;


  /* Paleta de cores: https://coolors.co/ffee32-ffd100-3d0066-474947-d6d6d6-ffffff-151414-202020-333533 */
  --clr-primaria: #ffd100;
  --clr-secundaria: #3d0066;

  /* Cores neutras e de apoio. */
  --clr-amarelo-claro: #ffee32;
  --clr-cinza-escuro: #474947;
  --clr-cinza-claro: #d6d6d6;
  --clr-branco: #fff;
  --clr-preto-escuro: #151414;
  --clr-preto-neutro: #202020;
  --clr-preto-claro: #333533;

  --bs-scrollbar: inset 0 0 6px rgba(0,0,0,0.3);
  --bs-botao: 0 0 .5em rgba(255, 255, 255, 0.557);

  --radius-padrao: .625rem;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-secundaria) var(--clr-cinza-claro);
}

body {
  font-family: var(--ff-rubik-400);
  background-color: var(--clr-cinza-escuro);
}

::-webkit-scrollbar-track {
  border-radius: .625rem;
  background-color: var(--clr-cinza-claro);
  -webkit-box-shadow: var(--bs-scrollbar);
          box-shadow: var(--bs-scrollbar);
}

::-webkit-scrollbar { width: .625rem; }

::-webkit-scrollbar-thumb {
  border-radius: .625rem;
  background-image: linear-gradient(to top, var(--clr-secundaria) 0%, var(--clr-primaria) 100%);
  -webkit-box-shadow: var(--bs-scrollbar);
          box-shadow: var(--bs-scrollbar);
}


/*
 * Componentes.
 */

.logo {
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  font-family: var(--ff-roboto-400);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .03em;
  color: var(--clr-primaria) !important;
  transition: 250ms;
}

.logo-sm { font-size: 1.25rem; /* 20px */ }

.logo > .bi-film {
  display: inline-block;
  color: var(--clr-secundaria);
  line-height: 0;
  letter-spacing: 0;
  background-color: var(--clr-primaria);
  border-radius: .125em;
  transform: rotate(-24deg);
  transition: 300ms ease-in-out;
}

.logo:hover > .bi-film {
  color: var(--clr-primaria);
  background-color: var(--clr-secundaria);
  transform: rotate(0);
}

.logo > .highlight {
  display: inline-block;
  margin-left: .125em;
  padding: .125em;
  color: var(--clr-secundaria);
  line-height: 1em;
  background-color: var(--clr-primaria);
  border: .0833333333333333em solid var(--clr-secundaria);
  transition: 250ms;
}

.logo:hover > .highlight {
  color: var(--clr-primaria);
  background-color: var(--clr-secundaria);
  border-color: var(--clr-primaria);
}

.botao {
  display: block;
  padding: .5em 1.5625em;
  font-size: 1rem; /* 16px */
  color: var(--clr-branco);
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--clr-secundaria) 0%, var(--clr-primaria) 50%, var(--clr-secundaria) 100%);
  background-size: 200% auto;
  border-radius: var(--radius-padrao);
  box-shadow: var(--bs-botao);
  transition: 500ms;
}

.botao:hover {
  color: var(--clr-branco);
  background-position: right center;
}

.botao:focus {
  outline: none;
  box-shadow: var(--bs-botao); 
}

.botao.botao-lg { font-size: 1.2rem; /* 19px */ }

@media (max-width: 30em) {
  .botao.botao-lg { font-size: 1rem; }
}

.botao > span {
  color: var(--clr-secundaria);
  transition: 250ms;
}

/* Normalmente se for colocar um ícone no botão ele altera de acordo. */
.botao:hover > span,
.botao:hover > i { color: var(--clr-primaria); }

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/home/bg-modal.jpg) center/cover no-repeat;
  filter: blur(3px);
}
.bg-img.trailer { z-index: initial; }
.bg-img.principal {
  background-image: url(../images/home/bg-principal.jpg);
  background-attachment: fixed;
}

.linha-h::after {
  content: '';
  display: block;
  width: 45%;
  text-align: left;
  border-bottom: 1px solid rgba(214, 214, 214, .5);
  margin-left: auto;
  margin-right: auto;
}

.linha-h.linha-h-menor::after { 
  border-width: 3px;
  width: 30%;
}


/*
 * Alterações no Bootstrap (afeta apenas o header).
 */

.dropdown-item:active,
.dropdown-item.active { background-color: var(--clr-secundaria) !important; }


/*
 * Classes de ajuda.
 */

.tira-ml::after { margin-left: 0; }

.ff-roboto { font-family: var(--ff-roboto-400); }
.ff-rubik { font-family: var(--ff-rubik-400); }

.clr-primaria { color: var(--clr-primaria) !important; }

.bgc-preto-neutro { background-color: var(--clr-preto-neutro); }
.bgc-preto-escuro { background-color: var(--clr-preto-escuro); }

.bd-bottom-r10 {
  border-bottom-left-radius: .625rem !important;
  border-bottom-right-radius: .625rem !important;
}

.bd-top-r10 {
  border-top-left-radius: .625rem !important;
  border-top-right-radius: .625rem !important;
}

#auth-logout {
  display: none;
  cursor: pointer;
}

.abaixo-header { margin-top: 5rem; }
