/*
  Contém alguns estilos para serem usados em todas as páginas, como fontes, cores, etc.
  Para usar, basta colocar o nome da propriedade e usar a função var() junto com o nome da variável, como por exemplo:
    .example {
      color: var(--clr-primaria);
    }
*/

:root {
  /*
    A Roboto será usada para títulos, subtítulos, botões, etc.
    A Rubik será usada para os textos em geral.
  */
  --ff-roboto-400: Roboto, sans-serif;
  --ff-rubik-400: Rubik, sans-serif;


  /* Paleta de cores: https://coolors.co/ffee32-ffd100-3d0066-474947-d6d6d6-ffffff-151414-202020-333533 */
  --clr-primaria: #ffd100;
  --clr-secundaria: #3d0066;

  /* Cores neutras e de apoio. */
  --clr-amarelo-claro: #ffee32;
  --clr-cinza-escuro: #474947;
  --clr-cinza-claro: #d6d6d6;
  --clr-branco: #fff;
  --clr-preto-escuro: #151414;
  --clr-preto-neutro: #202020;
  --clr-preto-claro: #333533;
}

/* Reseta a familia de fonte para Rubik. */
body {
  font-family: var(--ff-rubik-400);
  background-color: var(--clr-cinza-escuro);
}


/*
 * Componentes.
 */

.logo {
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  font-family: var(--ff-roboto-400);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .03em;
  color: var(--clr-primaria) !important;
  transition: 250ms;
}

.logo-sm { font-size: 1.25rem; /* 20px */ }

.logo > .bi-film {
  display: inline-block;
  color: var(--clr-secundaria);
  background-color: var(--clr-primaria);
  line-height: 0;
  letter-spacing: 0;
  transform: rotate(-24deg);
  transition: 300ms ease-in-out;
}

.logo:hover > .bi-film {
  color: var(--clr-primaria);
  background-color: var(--clr-secundaria);
  transform: rotate(0);
}

.logo > .highlight {
  display: inline-block;
  margin-left: .125em;
  padding: .125em;
  color: var(--clr-secundaria);
  line-height: 1em;
  background-color: var(--clr-primaria);
  border: .0833333333333333em solid var(--clr-secundaria);
  transition: 250ms;
}

.logo:hover > .highlight {
  color: var(--clr-primaria);
  background-color: var(--clr-secundaria);
  border-color: var(--clr-primaria);
}

.botao {
  background-image: linear-gradient(to right, var(--clr-secundaria) 0%, var(--clr-primaria) 51%, var(--clr-secundaria) 100%)
}

.botao {
  margin: 10px;
  padding: 8px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.557);
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

.botao:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


/*
 * Classes de ajuda.
 */

.tira-ml::after { margin-left: 0; }

.ff-roboto { font-family: var(--ff-roboto-400); }
.ff-rubik { font-family: var(--ff-rubik-400); }

.clr-primaria { color: var(--clr-primaria) !important; }

.bgc-preto-neutro { background-color: var(--clr-preto-neutro); }
.bgc-preto-escuro { background-color: var(--clr-preto-escuro); }

.bd-bottom-r10 {
  border-bottom-left-radius: .625rem !important;
  border-bottom-right-radius: .625rem !important;
}

.bd-top-r10 {
  border-top-left-radius: .625rem !important;
  border-top-right-radius: .625rem !important;
}
